 {% extends 'layout/Layout.html'%}
 <!-- Page Heading -->
 {% load static %}
 {% block content %}

{% include  'consommation/add.html' %}



<div class="card shadow mb-4">
                        <div class="card-header py-3">
                          <div class="">
                              <h4 class="">Consommation</h4>
                          </div>
                          <div class="">                              
                            <button type="button" data-toggle="modal" data-target="#add_consommation" class="btn btn-outline-info float-right">Nouveau <i class="fas fa-plus"></i></button>
                                                        
                          </div>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered text-center" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Date</th>
                                            <th>Montant</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for d in data %}
                                        <tr>
                                            <td>{{d.date|date:'d/m/Y'}}</td>
                                            <td>{{d.montant}}</td>
                                            <td>
                                                <button type="button" data-toggle="modal" data-target="#update_consommation{{d.id}}" class="btn btn-outline-success"><i class="fas fa-pen"></i></button>
                                                <button type="button" data-toggle="modal" data-target="#delete_consommation{{d.id}}" class="btn btn-outline-danger"><i class="fas fa-trash"></i></button>
                                            </td>
                                        </tr>
                                        {% include  'consommation/update.html' %}
                                        {% include 'consommation/delete.html' %}
                                        {% endfor %}
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>



  {% endblock %}