 {% extends 'layout/Layout.html'%}
 <!-- Page Heading -->
 {% load static %}
 {% block content %}

{% include  'Vehicule/add.html' %}



<div class="card shadow mb-4">
                        <div class="card-header py-3">
                          <div class="">
                              <h4 class="">Vehicules</h4>
                          </div>
                          <div class="">                              
                            <button type="button" data-toggle="modal" data-target="#add" class="btn btn-outline-info float-right">Nouveau <i class="fas fa-plus"></i></button>
                                                        
                          </div>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Immatricucaliton </th>
                                            <th>Modèle</th>
                                            <th>Type</th>
                                            <th>Catégorie</th>
                                            <th>Carburant</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for d in data %}
                                        <tr>
                                            <td>{{d.immatriculation}}</td>
                                            <td>{{d.modele}}</td>
                                            <td>{{d.type.libelle}}</td>
                                            <td>{{d.categorie.libelle}}</td>
                                            <td>{{d.carburant.libelle}}</td>
                                          </td>
                                            <td>
                                                <a href="{% url 'list_panne' d.id %}" class="btn btn-outline-info"><i class="fa fa-exclamation-triangle fa-spin"></i></a>
                                                <a href="{% url 'list_consommation' d.id %}" class="btn btn-outline-warning"><i class="fas fa-gas-pump fa-spin"></i></a>
                                                <button type="button" data-toggle="modal" data-target="#update{{d.id}}" class="btn btn-outline-success"><i class="fas fa-pen"></i></button>
                                                <button type="button" data-toggle="modal" data-target="#delete{{d.id}}" class="btn btn-outline-danger"><i class="fas fa-trash"></i></button>
                                            </td>
                                        </tr>
                                        {% include  'Vehicule/update.html' %}
                                        {% include 'Vehicule/delete.html' %}
                                        {% endfor %}
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>



  {% endblock %}