<div class="modal fade" id="add" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" >        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Nouveau dévis</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <form class="modal-body" method="POST" action="{% url 'save_devis' 0 %} " enctype="multipart/form-data">
                  {% csrf_token %}

                  <input name="panne" type="hidden" value="{{panne}}">

                  <div class="form-group input-group-sm">
                    <label for="exampleInputPassword1">Garage <a class="btn btn-info btn-circle" href="{% url 'list_garage' %}" target="_blank" ><i class="fa fa-plus"></i></a></label>
                    <select class="form-control" name="garage" required>
                      {% for garage in garages %}
                        <option value="{{garage.id}}">{{garage.denomination}}</option>
                      {% endfor %}
                    </select>
                    
                  </div>

                  <div class="row">
                    <div class="col-12">
                      <hr>
                    </div>
                    <div class="form-group col-4 input-group-sm">
                      <label for="exampleInputPassword1">Cout devis</label>
                      <input type="number" min="0" class="form-control" name="cout_devis"  required>
                    </div>
  
                    <div class="form-group col-4 input-group-sm">
                      <label for="exampleInputPassword1">Date devis</label>
                      <input type="date" class="form-control" name="date_devis" required>
                    </div>

                    <div class="col-4 input-group-sm">
                      <label for="formFile" class="form-label">Proforma(PDF)</label>
                      <input class="form-control" type="file" name="proforma"  accept="application/pdf" id="customFile">
                    </div>
  
                  </div>

                  <div class="row">
                    <div class="col-12">
                      <hr>
                    </div>
                    <div class="form-group col-4 input-group-sm">
                      <label for="exampleInputPassword1">Cout réparation</label>
                      <input type="number" min="1" class="form-control" name="cout_reparation" min="0">
                    </div>
  
                    <div class="form-group col-4 input-group-sm">
                      <label for="exampleInputPassword1">Date réparation</label>
                      <input type="date" class="form-control" name="date_reparation" >
                    </div>

                    <div class="col-4 input-group-sm">
                      <label for="formFile" class="form-label">Facture</label>
                      <input class="form-control" type="file" name="facture" accept="application/pdf" >
                    </div>
  
                  </div>
                  
                  <div class="form-check">
                    <input name="accepter" class="form-check-input" type="checkbox" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault"> Accepté le dévis </label>
                  </div>
                  

                  <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Enregister</button>
                    <a type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</a>
                  </div>
            </form>
            
        </div>
    </div>
</div>