<div class="modal fade" id="add" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" >        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Nouveau véhicule</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <form class="modal-body" method="POST" action="{% url 'save_mission' 0 %} ">
                  {% csrf_token %}

                  
                  <div class="form-group input-group-sm">
                    <label for="exampleInputPassword1">Vehicule <a class="btn btn-info btn-circle" href="{% url 'list_vehicule' %}" target="_blank" ><i class="fa fa-plus"></i></a></label>
                    <select class="form-control" name="vehicule" required>
                      {% for vehicule in vehicules %}
                        <option value="{{vehicule.id}}">{{vehicule.immatriculation}} {{vehicule.modele}}</option>
                      {% endfor %}
                    </select>
                  </div>

                  <div class="form-group input-group-sm">
                    <label for="exampleInputPassword1">Départ</label>
                    <input type="text" class="form-control" name="depart" max="90" required>
                  </div>

                  <div class="form-group input-group-sm">
                    <label for="exampleInputPassword1">Destination</label>
                    <input type="text" class="form-control" name="destination" max="90" required>
                  </div>

                  <div class="form-group input-group-sm">
                    <label for="exampleInputPassword1">Début</label>
                    <input type="date" class="form-control" name="debut" required>
                  </div>

                  <div class="form-group input-group-sm">
                    <label for="exampleInputPassword1">Fin</label>
                    <input type="date" class="form-control" name="fin">
                  </div>


                  <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Enregister</button>
                    <a type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</a>
                  </div>
            </form>
            
        </div>
    </div>
</div>