<div class="modal fade" id="add_panne" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" >        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Nouvelle panne</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <form class="modal-body" method="POST" action="{% url 'save_panne' 0 %} ">
                  {% csrf_token %}

                  <input name="vehicule" type="hidden" value="{{vehicule.id}}">

                  <div class="form-group input-group-sm">
                    <label for="exampleInputPassword1">Type</label>
                    <select class="form-control" name="type" required>
                      {% for type in types %}
                        <option value="{{type.id}}">{{type.libelle}}</option>
                      {% endfor %}
                    </select>
                  </div>

                  <div class="form-group input-group-sm">
                    <label for="exampleInputPassword1">Pièces</label>
                    <textarea class="form-control" name="pieces" required></textarea>
                  </div>

                  <div class="form-group input-group-sm">
                    <label for="exampleInputPassword1">Description</label>
                    <textarea class="form-control" name="description" required></textarea>
                  </div>

                  <div class="form-group input-group-sm">
                    <label for="exampleInputPassword1">Date</label>
                    <input type="date" class="form-control" name="date" required>
                  </div>

                  <div class="form-check">
                    <input name="immobile" class="form-check-input" type="checkbox" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault"> Immobilisée </label>
                  </div>
                  

                  <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Enregister</button>
                    <a type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</a>
                  </div>
            </form>
            
        </div>
    </div>
</div>