 {% extends 'layout/Layout.html'%}
 <!-- Page Heading -->
 {% load static %}
 {% block content %}

{% include  'employe/add.html' %}



<div class="card shadow mb-4">
                        <div class="card-header py-3">
                          <div class="">
                              <h4 class="">Employés</h4>
                          </div>
                          <div class="">                              
                            <button type="button" data-toggle="modal" data-target="#add" class="btn btn-outline-info float-right">Nouveau <i class="fas fa-plus"></i></button>
                                                        
                          </div>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>N° CNIB</th>
                                            <th>Nom</th>
                                            <th>Prenom</th>
                                            <th>Poste</th>
                                            <th>Date naissance</th>
                                            <th>Lieu naissance</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for d in data %}
                                        <tr>
                                            <td>{{d.matricule}}</td>
                                            <td>{{d.nom}}</td>
                                            <td>{{d.prenom}}</td>
                                            <td>{{d.poste.libelle}}</td>
                                            <td>{{d.date_naissance|date:'d/m/Y'}}</td>
                                            <td>{{d.lieu_naissance}}</td>
                                          </td>
                                            <td>
                                                <button type="button" data-toggle="modal" data-target="#update{{d.id}}" class="btn btn-outline-success"><i class="fas fa-pen"></i></button>
                                                <button type="button" data-toggle="modal" data-target="#delete{{d.id}}" class="btn btn-outline-danger"><i class="fas fa-trash"></i></button>
                                            </td>
                                        </tr>
                                        {% include  'employe/update.html' %}
                                        {% include 'employe/delete.html' %}
                                        {% endfor %}
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>



  {% endblock %}