<div class="modal fade" id="add" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" >        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Nouveau garage</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <form class="modal-body" method="POST" action="{% url 'save_garage' 0 %} ">
                  {% csrf_token %}

                  <div class="form-group input-group-sm">
                    <label for="exampleInputPassword1">Dénomination</label>
                    <input type="text" class="form-control" name="denomination" required max="90">
                  </div>

                  <div class="form-group input-group-sm">
                    <label for="exampleInputPassword1">Telephone</label>
                    <input type="text" class="form-control" name="telephone" required max="90">
                  </div>

                  <div class="form-group input-group-sm">
                    <label for="exampleInputPassword1">Email</label>
                    <input type="email" class="form-control" name="email" required max="90">
                  </div>

                  <div class="form-group input-group-sm">
                    <label for="exampleInputPassword1">Boite postale</label>
                    <input type="text" class="form-control" name="bp" required max="90">
                  </div>


                  <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Enregister</button>
                    <a type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</a>
                  </div>
            </form>
            
        </div>
    </div>
</div>