<div class="modal fade" id="update_escale{{d.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" >        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Véhicule {{d.immatriculation}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <form class="modal-body" method="POST" action="{% url 'save_escale' d.id %} ">
                  {% csrf_token %}

                  <input type="hidden" name="mission" value="{{mission.id}}" >

                  <div class="form-group input-group-sm">
                    <label for="exampleInputPassword1">Destination</label>
                    <input type="text" class="form-control" name="destination" value="{{d.destination}}" max="90" required>
                  </div>

                  <div class="form-group input-group-sm">
                    <label for="exampleInputPassword1">Date</label>
                    <input type="date" class="form-control" name="date"  value="{{d.date|date:'Y-m-d'}}" required>
                  </div>


                  <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Enregister</button>
                    <a type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</a>
                  </div>
            </form>
            
        </div>
    </div>
</div>